<div class="secondary-page-form">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <h5 class="secondary-page-form-header">New Article</h5>
      <%= simple_form_for @article do |f| %>
        <%= f.input :author,
                    required: true,
                    label: false,
                    placeholder: "author",
                    autofocus: true %>
        <%= f.input :title,
                    required: true,
                    label: false,
                    placeholder: "title",
                    autofocus: true %>
        <%= f.input :content,
                    as: :trix_editor %>
        <%= f.input :content,
                    required: true,
                    label: false,
                    placeholder: "content",
                    autofocus: true,
                    input_html: {rows: 10} %>
        <%= f.input :photo,
                    label: false,
                    placeholder: "upload a photo" %>
        <%= f.input :photo_cache,
                    as: :hidden,
                    label: false %>
        <%= f.button :submit,
                     'Add Article',
                     class: 'secondary-page-form-button' %>
      <% end %>
    </div>
  </div>
</div>
