<div class="banner-content hidden-xs">
  <h6><%= link_to 'About', about_path, class: "header-tabs"%></h6>
  <h6><%= link_to 'Articles', articles_path, class: 'header-tabs'%></h6>
  <%= link_to root_path, class: 'large-logo' do %>
    <h3 class="large-logo-top">IF I HAD A</h3>
    <h2 class="large-logo-bottom">COLUMN</h2>
  <% end %>
  <h6><%= link_to 'Books', books_path, class: 'header-tabs'%></h6>
  <h6><%= link_to 'Film', films_path, class: 'header-tabs' %></h6>
</div>

<div class="banner-content-small hidden-sm hidden-md hidden-lg">
  <%= link_to root_path, class: 'large-logo' do %>
    <h3 class="large-logo-top">IF I HAD A</h3>
    <h2 class="large-logo-bottom">COLUMN</h2>
  <% end %>
  <div class="banner-small-header-tabs">
    <h6><%= link_to 'About', about_path, class: "header-tabs"%></h6>
    <h6><%= link_to 'Articles', articles_path, class: 'header-tabs'%></h6>
    <h6><%= link_to 'Books', books_path, class: 'header-tabs'%></h6>
    <h6><%= link_to 'Film', films_path, class: 'header-tabs' %></h6>
  </div>
</div>
