<%= render 'shared/navbar' %>

<div class="about-page-container-large hidden-xs">
  <h3 class="secondary-page-header text-center">About</h3>

  <div class="about-content">

    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <%= image_tag "maddie-smiling", width: 300, class: 'about-avatar' %>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="about-text">
          <p>My name is Maddie, and I am the creator of If I Had a Column - a platform to allow myself and those who inspire me to write about their thoughts and musings on topics that interest or potentially annoy them. A platform to have the freedom to write about absolutely anything.</p>

          <p>A little background - I have always felt that writing a column must give the author such a sense of freedom, that there must be some satisfaction to ramble on about whatever was on their mind. And I slightly craved this, I have always written essays at school and university knowing that it was going to be marked, and that always overshadowed the enjoyment of writing. So this platform really is for that, for the enjoyment of writing again.</p>

          <p>So here they are - our weekly thoughts and musings…</p>

          <p>I hope you enjoy.</p>

          <p>If you would like to contribute to If I Had A Column, please feel free to send me a message by filling out the form below.</p>
        </div>
      </div>
    </div>

  </div>

<!--   <div class="about-image-large">
    <%#= image_tag "maddie 2", width: 700 %>
  </div> -->

  <%= render 'pages/form' %>

</div>

<div class="about-page-container-small hidden-sm hidden-md hidden-lg">
  <h3 class="secondary-page-header-small text-center">About</h3>

  <div class="about-content-small">
    <%= image_tag "maddie-smiling", width: 300, class: 'about-avatar-small' %>

    <div class="about-text-small">
      <p>My name is Maddie, and I am the creator of If I Had a Column - a platform to allow myself and those who inspire me to write about their thoughts and musings on topics that interest or potentially annoy them. A platform to have the freedom to write about absolutely anything.</p>

      <p>A little background - I have always felt that writing a column must give the author such a sense of freedom, that there must be some satisfaction to ramble on about whatever was on their mind. And I slightly craved this, I have always written essays at school and university knowing that it was going to be marked, and that always overshadowed the enjoyment of writing. So this platform really is for that, for the enjoyment of writing again.</p>

      <p>So here they are - our weekly thoughts and musings…</p>

      <p>I hope you enjoy.</p>

      <p>If you would like to contribute to If I Had A Column, please feel free to send me a message by filling out the form below.</p>
    </div>
  </div>


  <!-- <div class="about-image-large">
    <%#= image_tag "maddie 2", width: 350 %>
  </div> -->

  <%= render 'pages/form' %>

</div>

<%= render 'shared/footer' %>
