
<div class="banner">
  <%= image_tag "banner.jpeg"%>

  <div class="header">

    <h6><%= link_to 'About', about_path, class: "header-tabs"%></h6>
    <h6><%= link_to 'Articles', articles_path, class: 'header-tabs'%></h6>

    <div class='large-logo'>
      <h3 class='large-logo-top'>IF I HAD A</h3>
      <h2 class='large-logo-bottom'>COLUMN</h2>
    </div>
    <h6><%= link_to 'Books', books_path, class: 'header-tabs'%></h6>
    <h6><%= link_to 'Film', film_path, class: 'header-tabs' %></h6>

  </div>

</div>
